body{
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
    overflow:hidden;
}
label{/*bootstrapのcssと被っている*/
    font-weight:normal;
    cursor:pointer;
    margin:0;
}
label:hover{
    color:tomato;
}
#map1{
    width:100%;
    float:left;
    position:relative;
    border-right:solid 1px black;
    border-bottom:solid 1px black;
    /*高さはstartup.jsで起動時に設定している。*/
}
#map2{
    width:100%;
    height:100px;
    position:relative;
    float:left;
}
/*----------------------------------------------------------------------------*/
/*現在不使用。汎用性を求めてjsで書き直した。
.btn:active{
    margin-top:5px;
    margin-bottom:-5px;
}*/
/*ol31関係---------------------------------------------------------------------*/
.ol-rotate{
    right:49%;
    top:20px;
}
/*1画面上部のボタン--------------------------------------------------------------*/
.d3d2-div{/*現在使っていない*/
    position:absolute;
    z-index:1;
    top:10px;
    right:10px;
}
.top-div{
    position:absolute;
    z-index:1;
    top:10px;
    right:10px;
}
.haikei-btn{
}
/*-----------------------------------------------------------------------------*/
.td-sort{
    cursor:move;
}
#map1 .td-slider,#map2 .td-slider{/*bootstrapのcssにかぶせるため*/
    vertical-align:middle;
}
/*セシウムのボタン---------------------------------------------------------------*/
.cesium-btn-div{
	position:absolute;
	top:50%;
	left:50%;
	z-index:999999999;
	display:none;
	height:145px;
	width:145px;
    margin-left:-72px;
    margin-top:-72px;
	background:rgba(0,0,0,0.1);
	border-radius:145px;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	cursor:move;
}
.cesiun-btn-container{
    position:relative;
    height:100%;
}
.cesium-btn-up{
    position:absolute;
    top:10px;
    left:50%;
    padding:0;
    width:40px;
    height:40px;
    margin-left:-20px;
}
.cesium-btn-down{
    position:absolute;
    bottom:10px;
    left:50%;
    padding:0;
    width:40px;
    height:40px;
    margin-left:-20px;
}
.cesium-btn-left{
    position:absolute;
    top:50%;
    left:10px;
    padding:0;
    width:40px;
    height:40px;
    margin-top:-20px;
}
.cesium-btn-right{
    position:absolute;
    top:50%;
    right:10px;
    padding:0;
    width:40px;
    height:40px;
    margin-top:-20px;
}
/*スライダー--------------------------------------------------------------------*/
.haikei-slider{
    width:50px;
}
