.dialog-base{
	position:absolute;
	background:rgba(255,255,255,1.0);
	border-radius:4px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
	border:1px solid rgba(51,122,183,1.0);
	display:none;
	z-index:99999;
}
.dialog-header{
	position:relative;
	background:rgba(51,122,183,1.0);
	padding:0px;
	text-align:right;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	height:35px;
	cursor:move;
}
.dialog-header p{
	position:absolute;
	top:8px;
	left:10px;
	color:white;
	text-align:left;
}
.dialog-header span,#bottomDiv span{
	position:absolute;
	right:0px;
	cursor:pointer;
	color:white;
	font-size:2em;
	margin-right:7px;
    margin-top:-2px;
	z-index:99999;
}
.dialog-header span:hover{
	color:red;
}
.dialog-content{
	margin:10px 5px 10px 5px;
	font-size:12px;
}
